* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 50%;
    margin: 0 auto;
    white-space: nowrap;
}

ul li {
    display: inline;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    width: 25%;
    padding: .5rem 0;
    color: #333;
}

.navitem2:hover ~ hr {
    margin-left: 25.5%;
}

.navitem3:hover ~ hr {
    margin-left: 52%;
}

.navitem4:hover ~ hr {
    margin-left: 78%;
}

hr {
    height: .3rem;
    width: 25%;
    margin: 0;
    background: lightblue;
    border: none;
    transition: .3s ease-in-out;
}